body {
    margin: 0px;
    padding: 0px;
}

div {
    box-sizing: border-box;
}

p {
    margin: 0px;
}

.top-banner {
    text-align:center;
    transition: height 0.5s;
    height:20px;
}


.top-banner-close {
    height:0px;
}

.nav {
    width:100vw;
    height:50px;
    position:fixed;
}

.nav-primary li{
    display: inline-block;
}

.nav-primary {
    position:absolute;
    left:0px;
}

.nav-secondary {
    position:absolute;
    right:0px;
}

.nav-secondary li{
    display: inline-block;
}

.nav-box {
    float:left;
    color:white;
}

.nav-box-secondary {
    width:87%;
    height:100%;
    position:relative;
    padding:0px;
    z-index:2;
}

.nav-box-first {
    width:13%;
    height:100%;
    padding:10px;
    position:relative;
    z-index:2;
}

.nav-box-first p {
    padding:0px;
    margin:0px;
    font-size:25px;
    font-family: inherit;
}

.nav-item {
    padding:0px;
    margin:0px;
    font-size:15;
    margin-right:10px;
}

.main-background {
    background-image: url(../img/Creech_Monastery_Phase21_111920-1_1600x800_crop_center.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    text-align: center;
    padding:200px;
    color:white;
}

.btn-white {
    background-color: transparent;
    border-color: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-weight: 600;
    cursor:pointer;
    transition: background-color 0.5s, color 1s;
    position: relative;
    top:200px;
}

.btn-white:hover {
    background-color: white;
    color:black;
}

.main-banner {
    background-color:#5e5a49;
    width:100vw;
    height:404px;
}

.btn-arrow {
    background-color: transparent;
    border-color:transparent;
    border-bottom-color: white;
    border-right-color:white;
    border-width: medium;
    transform: rotate(45deg);
    width:50px;
    height:50px;
    position:relative;
    top:250px;
    cursor:pointer;
}

.main-banner-text {
    margin-left:auto;
    margin-right:auto;
    width:70vw;
    text-align: center;
    color:white;
    position:relative;
    top:50px;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 3s, filter 3s;
}

.main-banner-text-open {
    opacity:1;
    filter: blur(0px);
}

.main-banner-text p {
    padding-bottom: 10px;
    font-size: 30px;
}
